asgiref==3.8.1
Brotli==1.1.0
click==8.1.7
Django==5.1.1
django-jazzmin==3.0.0
gunicorn==23.0.0
h11==0.14.0
packaging==24.2
psycopg2-binary==2.9.9
PyMySQL==1.1.1
python-decouple==3.8
sqlparse==0.4.4
typing_extensions==4.9.0
uvicorn==0.32.0
whitenoise==6.8.2
