{% extends 'plantilla.html' %} {% load static %} {% block titulo %}
<title>Editar Carrera</title>
{% endblock titulo %} {% block contenido %}
<div class="container">
  <h1 class="mt-4 text-center">Editar Carrera</h1>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Carrera</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'crear_carrera' %}" method="post">
          {% csrf_token %}
          <div class="mb-4">
            <label for="" class="form-label">Nombre</label>
            <input
              type="text"
              placeholder="Sistemas de Informacion"
              id="nombre_car"
              name="nombre_car"
              required
              class="form-control"
              value="{{carrera.nombre_car}}"
            />
          </div>
          <div class="mb-4">
            <label for="" class="form-label">Fecha Creacion</label>
            <input
              type="date"
              id="fecha_creacion_car"
              name="fecha_creacion_car"
              required
              class="form-control"
              value="{{carrera.fecha_creacion_car|date:'Y-m-d'}}"
            />
          </div>
          <div class="mb-4">
            <label for="" class="form-label">Telefono</label>
            <input
              type="text"
              placeholder="0945879541"
              id="telefono_car"
              name="telefono_car"
              required
              class="form-control"
              value="{{carrera.telefono_car}}"
            />
          </div>
          <div class="modal-footer">
            <a
              href="{% url 'carreras' %}"
              type="button"
              class="btn btn-secondary"
            >
              Cancelar
            </a>
            <button type="submit" class="btn btn-primary">
              Actualizar Carrera
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  const modal = document.getElementById("exampleModal");
  document.addEventListener("DOMContentLoaded", () => {
    const myModal = new bootstrap.Modal(modal);
    myModal.show();
  });
</script>

{% endblock contenido %}
