{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{% static 'img/favicon.png' %}"
      type="image/x-icon"
    />
    {% block titulo %}{% endblock titulo %}

    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

    <!--! Bootstrap CSS -->
    <link href="{% static 'library/bootstrap/bootstrap.min.css' %}" />
    <!--! Bootwatch -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/cyborg/bootstrap.min.css"
    />
    <!--! Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!--! Main -->
    <main>{% block contenido %}{% endblock contenido %}</main>
  </body>
  <!--! Bootstrap JS -->
  <script src="{% static 'library/bootstrap/bootstrap.min.js' %}"></script>
</html>
